<% include ../partials/header.ejs %> 
<% include ../partials/navbar.ejs %> 
<div class="d-flex justify-content-center">Completed tasks:
    <input type="text">
        <button type="button">Delete</button>
</div>
<div class="d-flex justify-content-center">
    <img src="/images/superbg.jpg" height="auto" width="70%" alt="">
</div>

<% include ../partials/footer.ejs %> 