<% include ../partials/header.ejs %> 
<% include ../partials/navbar.ejs %> 
<div class="d-flex justify-content-center">Add a task:
    <input type="text">
        <button type="submit">Add</button> <br>
        <button type="button">Mark as Complete</button>
</div>
<div class="d-flex justify-content-center">
    <img src="/images/busybg.jpg" height="auto" width="80%" alt="">
</div>

<% include ../partials/footer.ejs %> 